*
{
	margin:0px;
	padding:0px;	
}
body
{
	background-image: url(../images/bg.jpg);
	background-position:fixed;
	background-repeat:no-repeat;
	background-size:100%;
}
nav{
    width:100%;
    background-color: rgba(0,0,0,.1);
    height: 60px;
    line-height: 60px;
}
nav ul{
    float:right;
    margin-right: 5px;
}
nav ul li{
    list-style-type: none;
    display:inline-block;
    color: #fff;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
    transition: all ease 0.5s;
}
nav ul li a:hover{
    background-color: #211b4385;
}
.homeclinic{
    font-size: 20px;
    font-weight: bold;
    font-family: Verdana;
    font-style: oblique;
}
.headeradd{
    width:100%;
    height:20px;
    background-color: rgba(0,0,0,.1);
    padding-left: 520px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    font-family: Verdana;
    font-style: oblique;
}
.containers{
    width:810px;
    height: 510px;
    background-color: rgba(0,0,0,.1);
    /*overflow: auto;*/
    overflow-x: hidden;
    /*margin-top: 60px;*/
    margin-top:20px;
    margin-bottom:20px;
}
.hcontainers{
  width:1000px;
  height: 480px;
  background-color:white;
  box-shadow: 1px 8px 12px 0 #000;
  overflow-x: hidden;
  padding:20px;
  margin-left: 13.5%;
  margin-top:20px;
  margin-bottom:20px;
}
.hcontainers h2{
  color:#483d8b;
}
.hcontainers p{
  color:#708090;
  font-size: 13px;
  font-weight: bold;
  font-family: Verdana;
  /* font-style: oblique; */
}
.hcontainers ul{
  color:#008b8b;
  font-size: 11px;
  font-weight: bold;
  font-family: Tahoma;
}
.hcontainers table{
  box-shadow: 1px 8px 12px 0 #000;
}
.mission{
  float:right;
  width: 35%;
  border: solid #cccccc 1px;
  box-shadow: 1px 8px 12px 0 #000;
  padding:7px;
  margin: 7px;
}
.mission h3{
  color:#483d8b;
}
.mission h2{
  color:#708090;
}
.mission li,.mission p{
  color:#008b8b;
  font-weight: bold;
}

* {
    box-sizing: border-box;}
    .login-detail {
        height: 320px;
        width: 550px;
        border: 2px solid #f1f1f1;
        box-shadow: 1px 8px 12px 0 #000;
        padding: 20px;
        background-color: white;
        border-radius:36px;
        margin: 98px auto;
     }
    .user-detail {
    height: 500px;
    margin-top:10px;
    margin-bottom:10px;
    border: 2px solid #f1f1f1;
    box-shadow: 1px 8px 12px 0 #000;
    padding: 16px;
    background-color: white;
    border-radius:36px;
    width: 750px;}
    .booking-form-view {
      height: 500px;
      border: 2px solid #f1f1f1;
      box-shadow: 1px 8px 12px 0 #000;
      padding: 16px;
      background-color: white;
      width: 650px; 
    }
    .booking-form-view select {
      width: 90%;
    }
    .doctor-form-view {
      height: 650px;
      border: 2px solid #f1f1f1;
      box-shadow: 1px 8px 12px 0 #000;
      padding: 16px;
      background-color: white;
      width: 650px; 
    }
    .doctor-form-view select {
      width: 90%;
    }
    .user-profile {
      height: 95vh;
      border: 2px solid #f1f1f1;
      margin: auto;
      padding: 16px;
      background-color: white;
      width: 50%;}
    .user-profile legend {
        background-color: #4CAF50;
        color: white;
        padding: 5px 10px;
      }
    .user-profile input{
    width: 100%;
    height:10px;
    padding: 15px;
    /* margin: 5px 0 22px 0; */
    display: inline-block;
    border: none;
    background: #f1f1f1;}
    input{
    width: 90%;
    padding: 15px;
    margin: 5px 0 9px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;}
    input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;}
    button[type=submit] {
    background-color: #434140;
    border-radius:36px;
    color: #ffffff;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 90%;
    opacity: 0.9;
    font-size: 20px;}
    label{
    font-size: 18px;}
    button[type=submit]:hover {
    background-color:green}
.footer{
    width:100%;
    background-color: rgba(0,0,0,.1);
    height: 60px;
    line-height: 60px;
    position: fixed;
    /*margin-top: 545px;*/
}
.footer p{
    text-align: center;
    font-size: 20px;
    color: white;
}
.Dfooter{
  width:100%;
  background-color: rgba(0,0,0,.1);
  height: 30px;
  line-height: 30px;
  position: fixed;
  /*margin-top: 545px;*/
}
.Dfooter p{
  text-align: center;
  font-size: 20px;
  color: white;
}
div.username {
    text-align: center;
  }
  body>header{
    /* background:#61c985; */
    /* color:#fff; */
    padding:.2rem 0;
    text-align: center;
    margin-top:0;
}
.selectBox{
    border-radius:36px;
    background:White;
    border:2px solid #cccccc;
    width:150px;
    height:40px;
    /*border:0px;*/
    outline:none;
    color:orangered;
    font-weight:bold;
    cursor: pointer;
  }
  .DselectBox{
    border-radius:12px;
    /*background:White;*/
    border:2px solid #cccccc;
    width:250px;
    height:40px;
    /*border:0px;*/
    outline:none;
    color:orangered;
    font-weight:bold;
    cursor: pointer;
  }
 .content{
    width:95%;
    height: 510px;
    background-color: rgba(0,0,0,.1);
    overflow-x: hidden;
    margin-top:20px;
	margin-left:32px;
    margin-bottom:20px;
	border-radius: 36px;
}
.sidenav {
  width: 160px;
  height: 510px;
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,.2);
  overflow-x: hidden;
  border-radius: 36px;
}

.sidenav a {
  padding: 30px 28px 0px 28px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: white;
  text-align: center;
  display: block;
}

.sidenav a:hover {
  color: blue;
} 

/* Style the tab */
.tab {
    overflow: hidden;
    border: 3px solid #ccc;
    background-color: #ffffff;
    margin-top:20px;
    margin-left:170px;
    margin-right:10px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }
  .tab p {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 18px;
    font-weight:bold;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 3px solid #ccc;
    background-color: #ffffff;
    border-top: none;
    margin-left:170px;
    margin-right:10px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
  }
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  .docls {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: center;
    width: 100%;
  }
  
  .docls td, .docls th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .docls tr:nth-child(even){background-color: #f2f2f2;}
  
  .docls tr:hover {background-color: #ddd;}
  .docls tfoot tr{
    background-color: #4CAF50;
    color: white;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .docls th {
    padding-top: 12px;
    padding-bottom: 12px;
    /*text-align: left;*/
    background-color: #4CAF50;
    color: white;
  }
  .left
{
    float: left;
    width: 50px;
    height: 50px;
}
.right
{
    margin-left: 80px;
    line-height:30px;
}
.clear
{
    clear: both;
}
.label
{
    font-size: 10pt;
    font-weight: bold;
    font-family: Arial;
}
.name
{
    color: #18B5F0;
}

  