<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Online Clinic Management System</title>
<link rel="stylesheet" href="/style.css">
<style>
	input[type=text]{
         margin-top: 10px;
    }
</style>
</head>
<body>
	<nav>
		<img src="../images/logo.png" width="120" height="60">
		<ul>
			<li class="homeclinic" style="margin-right: 480px;">ZEEBOK POLYCLINIC</li>
			<li><a href="/">Home</a></li>
		</ul>
	</nav>
<center>
<div class="login-detail">
		<h2>Reset Your Password</h2>
		<hr>
		<form action="/forgotpassword" method="POST">
		<input required type="text" placeholder="Enter Email Address Or Phone No" name="emailphno">
		
		<input required type="password" placeholder="Enter New Password" name="pwd">

        <input required type="password" placeholder="Retype Password" name="rpwd">
		
		<button type="submit">Confirm Reset</button>
		</form>
		<br>
    {{#if success}}<p style="color:forestgreen;">{{success}} <a href="/login">Click here to login</a></p>{{/if}}
	{{#if Error}}<p style="color:red;">{{Error}}</p>{{/if}}
	</div>
</center>
	<div class="footer">
		<p>Copyrights © Indranil Infosys 2020. All rights reserved</p>
	</div>
</body>
</html>